@charset "UTF-8";
/* CSS Document */
body {
	align-content: center;
	background-color: #F7F3A1;
}

#yellow {
	background-size: cover;
	background-color: #EADE65;
}

#gold {
	background-size: cover;
	background-color: #D8C200;
}

#column2 {
	float: left;
	padding-right: 15px;
}

#column1 {
	float: left;
	padding-left: 15px;
}
