body {
  background-color: #0000FF;
  color : white;
}

h1 {
  color : #7FFF00;
  text-align : center;
  font-size : 100px;
  text-shadow: 3px 3px #DC143C;
}

img {
  height : 600px;
  width : 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
    float : right;
}

a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
