img {
    height: 44px;
    width: 32px;
}

body {
    background-color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}


/* left column  */

#left {
    float: left;
    /* margin */
    margin: 0 0 0 100px;
}


/* right column */

#right {
    float: right;
    /* margin */
    margin: 0 100px 0 0;
}