
#hackers {color:#800000;
}

#twothousand {color:#FFFF00;
}

#tvepisode {color:#008000;
}

#game {color:#FF33EC;
}

#column1 { padding:10px; width:450px; float:left;}

#column2 {padding:10px; width:450px; float:right;
}
