#keywords {
  list-style-type: none;
  padding-left: 0px;
}

#companies {
  list-style-type: none;
  padding-left: 0px;
}

img {
  height: 32px;
  width: 44px;
}

.movie-table tr:nth-of-type(even) {
  background-color: silver;
}

.column {
  float: left;
}
