#first {
  background-color: #72EB62;
}
#second {
  background-color: #EBBC62;
}
#third {
  background-color: #12DE94
}
#forth {
  background-color: #6299EB

}
.rightcolumn {
  float: right;
  width: 40%;
}

.leftcolumn {
  float: left;
  width: 40%;
}

.movie {
  padding-left: 80px;
}
