h4{
  color:red;
}

.Hackers{
    background-color: #d942f4;
    color:white;
}
.ad{
  background-color: #f442eb;
  color:white;
}
.hackers2001{
  background-color: #f442c2;
  color:white;
}
.hackersgame{
  background-color: #f442a4;
  color:white;
}
Section {
  float: left;
  margin:0 1.5%;
  Width: 63%;
}
aside {
  float:right;
  margin:0 1.5%;
  width: 30%;
}
