.redbackground {
  background: red;
}
.graybackground {
  background: gray;
}

.images {
  float: left;
}

.column1 {
  float: left;
  margin: 0 1.5%;
  width: 45%;
}
.column2 {
  float: right;
  margin: 0 1.5%;
  width: 45%;
}
