.red {
  color: red;
} 

.blue{
  color: blue;
} 

section {
  float: left;
  margin: 0 1.5%;
}

.row:after {
  content: " ";
  display: table;
  clear: both;

aside {
  float: right;
  margin: 0 1.5%;
}

.row:after {
  content: " ";
  display: table;
  clear: both;