a {
  display: inline-block;
  width: auto;
  height: auto;
  text-decoration: none;
}
a:link, a:visited {
  color: black;
}
tbody tr:nth-child(even) {
  background: #CCC;
}
div.col1 {
  float: left;
  margin: 50px;
}
div.col2 {
  float: right;
  margin: 50px;
}
div.keywords ul {
  list-style-type: none;
}
div.companies ul {
  list-style-type: none;
}
