body,
html {
margin:0;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: 50px;
color:#000;
background-color:#ADD8E6;
}

body {
  line-height: 1;

table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr.d0 td {
	background-color: #6495ED; color: black;
}
tr.d1 td {
	background-color: #A9A9A9; color: black;
}
h1 {
    font-size: 150%;
}

h3 {
    font-size: 120%;
}

img {
  height: 32px;
  width: 44px;
}
}
#wrap {
width:1000px;
margin:0 auto;
}


#main {
float:center;
width:1000px;
}
#sidebar {
float:right;
width:250px;
}
#footer {
clear:both;
background:#cc9;
}

.right{
float: right;
    width: 300px;
  }
.left {
  float: left;
      width: 300px;
    }
.center {
    text-align: center;
    width: 50%;
    padding: 10px;
}
