a {
  color: blue;
  text-decoration: none;
}

article {
  position: relative;
}

.balance-position-hobbies {
  top: 60px;
  right: 10%;
  position: absolute;
}

.balance-position-goals {
  right: 0%;
  top: 30px;
  position: absolute;
}

.balance-position-left {
  bottom: 10px;
  left: 3%;
  position: absolute;
}

.balance-position-aboutme {
  bottom: 40px;
  right: 10%;
  position: absolute;
}

.balance-text {
  color: #AAA;
  font-size: 20px;
}

.col-left {
  float: left;
  margin: 1%;
  width: 45%;
}

.col-right {
  float: right;
  margin: 1%;
  width: 45%;
}

.col-center {
  margin: 1%;
  padding-bottom: 5%;
  width: 45%;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 100px);
}

.contact ul {
  list-style: none;
  padding-left: 0;
}

.contact-information {
  grid-column-start: 1;
}

.container {
  margin: auto;
  max-width: 1280px;
  padding-bottom: 5%;
  padding-top: 5%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 80px);
}

.gallery, .row {
  margin: auto;
  width: 800px;
}

.hd {
  /*background-image: url(Personal_web_images/markus-spiske-221494-unsplash.jpg);
  background-size: cover;*/
  background-color: white;
  padding: 100px 0;
}



.hd h1 {
  margin: 0;
  padding: 0;
}

.something {
  text-align: center;
}

.head-line {
  text-align: center;
}

.img1 {
  grid-column: 1/5;
  grid-row: 1/3;
  height: 215px;
  margin: 0;
  width: 95%;
}

.img2 {
  grid-column: 5/13;
  grid-row: 1/3;
  width: 95%;
}

.img3 {
  grid-column: 1/6;
  grid-row: 4/7;
  height: 285px;
  width: 95%;
}

.img4 {
  grid-column: 6/13;
  grid-row: 3/8;
  margin-top: 10%;
  width: 94%;
}

.img5 {
  grid-column: 1/6;
  grid-row: 8/9;
  width: 95%;
}

.img6 {
  grid-column: 6/11;
  grid-row: 7/10;
  margin-top: 10%;
  width: 94%;
}

#balance-gallery {
  grid-column: 1/4;
  grid-row: 11;
  padding: 10%
}

.menu_title {
  color: #FFF;
  display: inline;
  margin-left: 0;
  margin-right: 0;
  padding: 1%;
  cursor: pointer;
}
.menu_title:hover{
  color:black;
  background-color: white;
}


.mt-row {
  margin-top: 50px;
}

.page-title {
  text-align: center;
}

.social-links {
  grid-column-start: 2;
  text-align: right;
}

.clear {
  clear: both;
}

body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #000;
  color: #FFF;
  height: 300px;
}

h1 {
  font-size: 50px;
  padding: 3%;
  text-align: center;
}

h1, h2, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h2, h5 {
  font-size: 20px;
}

nav {
  background: #000;
  padding: 1%;
  text-align: center;
}

p, #eat-text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0%;
}

h4 {
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.hobbies-list {
  list-style: none;
  padding-left: 0%;
  padding-bottom: 1%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.imgB_page_01{
  padding-left: 20%;
}
