* {
  background: rgb(18,18,18);
  color: white;
  /*DISPLAY BOX BORDERS!*/
  /* border: 2px solid black; /**/
}

p {
  color: lightgrey;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

h1 {
  color: grey;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  display: inline-block;
}

li {
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
  margin: 10px;
  list-style-type: circle;
}

div .hope {
  margin-right: auto;
  width: 45%;
  display: inline-block;
  text-align: justify;
  list-style-position: inside;
}

div #title {
  list-style-type: none;
}

div img {
    display: inline-block;
        margin-top: 2%
}

/*.first {
  font-size: 40px;
  width: 25%;
  display: inline-block;
  text-align: center;
  margin-top: 10%%;
}





.second {
  font-size: 50px;
  width: 30%;
  display: inline-block;
  text-align: center;
}


*/

.next-icon {
  transform: scaleX(-1);
  filter: FlipH;
  height: 100px;
  display: inline-block;
  float: left;
}
