/*
CSS file for the 1st HTML Project - cloning IMDB... i guess
*/



table {
  border-collapse: collapse;
  border-color: white;
}

tr:nth-child(even) {
  background: #f0f0f2;
}

h3 {
  color: #A58500;
  font-size: 15px;
  margin: 0 0 0.5em;
  padding: 0;
}

section {
  float: left;
  width: auto;
}

aside {
  float: right;
  width: auto;
}
