/* List */
.titles li {
list-style-type: none;

}
a {
text-decoration: none;
}
.names li {
    list-style-type: none;
}
.keywords li {
    list-style-type: none;
}
.companies li {
    list-style-type: none;
}

.inside {
    list-style: inside circle;
}
.titles li span {
    font-size: 12px;
}

/* Headings */

h2 {
    padding-top: 30px;
}