img {
  height: 44px;
  width: 32px;
}
.firstmovie {
  background: yellow;
}
.secondmovie {
  background: aqua;
}
.thirdmovie {
  background: yellow;
}
.fourthmovie {
  background: aqua;
}
.hackers li{
  padding-left: 45px;
}
.frontline li{
  font-size: 80%;
  padding-left: 45px;
}
.thehackers li{
  padding-left: 45px;
}
.titles ul{
  list-style: none;
  padding-left: 5px;
}
.names ul {
  list-style: none;
  padding-left: 1px;
}
.keywords ul {
  list-style: none;
  padding-left: 5px;
}
.companies ul {
  list-style: none;
  padding-left: 5px;
}
.category ul {
  list-style: disc;
  padding-left: 40px;
}
.tnest ul {
  list-style: circle;
  padding-left: 40px;
}
.additional ul {
  list-style: disc;
  padding-left: 40px;
}
.leftside {
  float:left;
}
.rightside {
  float:right;
}
.movie {
  height: 52px;
  width: 100%;
}
.moviepic {
  float:left;
  margin: 0 1%;
  width: 10%;
}
.movietext {
  float:left;
  width: 88%;
  padding-top:10px;
}
.actor {
  height: 52px;
  width: 100%;
}
.actorpic {
  float:left;
  margin: 0 1%;
  width: 10%;
}
.actortext {
  float:left;
  width: 88%;
  padding-top:10px;
}
