/*
========================
Positioning
========================
*/

section {
  float: left;
  margin: 0 1.5%;
  width: 40%;
}

aside {
	float: right;
	margin: 0 1.5%;
	width:40%;
}


/*
========================
Titles
========================
*/
.table-odd{
background:lightgray;
}

