h1 {
  font-size: 48px;
  font-family: sans-serif;
}

.black {
  color: black;
}

img.resize {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 15px;
      width: 600px;
      height:500px
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #098123;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #fffefe;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #e8fcb3;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*center website */
.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
 }
