p {
  font-family: cursive;
  color: white;
}
body {
  /* background-color: rgb(184,196,204); */
  background-image: url("http://idolza.com/a/f/b/backgrounds-cool-wallpaper-cave-stunning-graphicsheat_cool-designs-wallpaper_grey-paint-for-bedroom-nice-kitchen-colors-bathrooms-design-christmas-light-decorating-ideas-triangle-island-mode.jpg");
}
