#two{
  background-color: lightblue;
  font-style: arial;
}
.hpIntro{
  text-align: center;
}
#hpIntroP{
  font-size: 20px;
}
.hgHeadLi{
  display: inline-block;
  font-size: 20px;
  width: 30%;
  height:250px;
  margin-left: 10%;
  border: 3px solid black;
  border-right: 3px solid black;
}
#hgHead{
  text-align: center;
}
.dheadLi{
  float: right;
  font-size: 20px;
  width: 30%;
  height:250px;
  margin-right: 20%;
  border: 3px solid black;
  border-right: 3px solid black;
}
#dHead{
  text-align: center;
}
#moreGifs{
  text-align: center;
  font-size: 25px;
}
#gbutton{
  display: inline-block;
  width: 40%;
  font-size: 20px;
  margin-left: 30%;
}
#gify{
  /* Pictures */
  display: none;
}
.allTheGIFS{
  /* Pictures */
  align-content: center;
  display: inline-block;
  margin:20%;
}

.goBack{
  width: 40%;
  font-size: 25px;
  background-color: #eff0f2;
  border: 3px solid black;
  margin-top: 5%;
  margin-left: 30%
}
