img {
  height: 44px;
  width: 32px;
}

/*
====================
colorz
====================
*/

.blue {
  background-color:	#0000ff;
}

.yellow {
  background-color: #ffff00;
}

/*
====================
Columns
====================
*/

.col1 {
  float: left;
  width: 30%;
}

.col2 {
  float: right;
  width: 60%;
}
