body {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  color: white;
}

h1 {
  font-size: 4em;
  font-family: Oswald, sans-serif;
}

h2, h3, h4 {
  font-family: Oswald, sans-serif;
}

a {
  color: white;
}

a:hover {
  color: black;
}

a, p, span, button {
  font-family: Lato, sans-serif;
}

nav {
  display: inline-block;
  margin-left: 15px;
  margin-right: 0;
  width: 125px;
}

nav > ul {
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  margin-bottom: 10px;
}

nav > ul > li:first-child {
  border-bottom: 1px solid white;
}

nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

table {
  font-family: lato, sans-serif;
  margin-bottom: 50px;
}

table > tr:nth-child(1) {
  font-weight: bold;
}

table > tr > th {
  font-weight: bold;
  border: 1px solid white;
  margin: 5px 10px 5px 10px;
}

.clock {
  font-family: Lato, sans-serif;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: right;
}

.container {
  min-height: 100%;
}

.hidden {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.main-content {
  width: 90%;
}

.main-content p {
  border-left: 2px solid white;
  margin-bottom: 40px;
  padding-left: 15px;
}

.center {
  justify-content: center;
}

.w2 {
  width: 20%;
}

.w4 {
  width: 40%;
}

.w6 {
  width: 60%;
}

.w8 {
  width: 80%;
}

.w10 {
  width: 100%;
}

.h-50 {
  height: 50px;
}

.h-100 {
  height: 100px;
}

.h-150 {
  height: 150px;
}

.h-200 {
  height: 200px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

.intro-start {
  opacity: 0;
  margin-left: 0%;
}

.intro-end {
  transition: margin-left 2s, opacity 2.5s;
  opacity: 1;
  display: inherit;
  margin-left: 10%;
  margin-bottom: 50px;
}

.gif-container {

}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: relative;
  bottom: 0;
  margin-bottom: -150px;
  background-color: #005BAC;
  width: 100%;
}

.footer > div > ul {
  padding: 0;
}

.footer > div > ul > li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px 0px 20px;
  border-right: 1px solid white;
}

.footer > div> ul > li:last-child {
  border-right: none;
}

.footer > div > ul > li > a {
  text-decoration: none;
}

.bg-yellow {
  background-color: #C9D600;
}

.bg-black {
  background-color: black;
}
