body {

}

section {
  font-family: "Garamond", Times, serif;
  text-align: center;
  list-style-position: inside;
  margin: -20px 0px 80px 0px;
}

h1 {
  font-size: 400%;
}

h2 {
  font-size: 200%;
  margin: 0px 0px 0px 0px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 30px 50px;
    text-align: center;
    display: block;
    margin: -20px auto;
    justify-content: center;
    text-decoration: none;
    font-size: 200%;
}

.goat {
  display: none;
  transition: opacity 2s linear;
  opacity: 0;
  margin: 20px auto;
}

.showgoat{
  transition: opacity 2s linear;
  display: flex;
  opacity: 1;
  margin: 20px auto;
  justify-content: center;

}

div {
    transition: width 2s, height 4s;
}

.doitbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 30px 50px;
    text-align: center;
    display: block;
    margin: -20px auto;
    justify-content: center;
    text-decoration: none;
    font-size: 200%;
}


.hover
{
    background-color:Silver;
}

.aboutme {
   border: solid;
   display: inline-block;
   text-align: left;
   height: auto;
   width: 400px;
   padding: 10px;
}

img {
  margin: 10px 10px 10px 10px;
}

footer {
  display: block;
  list-style-type: none;
  margin: 60px 60px 200px 60px;
  text-align: center;
}
